.btn-catalog{
    position: relative;
    button{
        position: absolute;
        top:23px;
        left:49px;
        background: none;
        color:#A18650;
        font-size: 18px;
        font-weight: 300;
    }
}