

.vine-screen{
    background-color: #070707;
    height: 934px;

    .vine-text h2{
        text-transform: uppercase;
        color: #c8c6c4;
        font-size: 70px;
        line-height: 77px;
        font-weight: 300;
        letter-spacing: 1%;
        margin-top:-213px;
        margin-left:570px;

    }

    .button-vine{
        margin-top: 9px;
        margin-left:895px;
    }


}